@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Rubik:400,700,900');

$primary_colour: #041f6e;
$secondary_color: #f19d02;

 body {
    background: url("/images/football_bg.jpg") repeat;
    background-size: 450px;
    font-family: 'Roboto Mono', monospace;
    color: #fff
}

.logo {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    text-align: center;
}

.logo i {
    color: $secondary_color;
    margin: 0 3px;
}

.logo i.small {
    font-size: 0.5em;
} 

.logo i.medium {
    font-size: 0.7em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Rubik', sans-serif
}

a {
    color: #fff;
}

.container {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}

.box {
    background: $primary_colour;
    border-radius: 10px;
    padding: 2em;
    box-shadow:0px 5px 18px -1px rgba(0, 0, 0, 0.2);
    margin: 2em 0;
}

ul.reset {
    margin: 0;
    padding: 0;
}

.mainNav {
    border-top: 3px solid rgba(255,255,255,0.1);
    border-bottom: 3px solid rgba(255,255,255,0.1);
    padding: 1em 0;
}

.mainNav a {
    text-decoration: none;
}

.mainNav a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 1em;
}

.form-label {
    min-width: 120px;
    display: inline-block;
}

.form-input {
    font-size: 1.2em;
    line-height: 1.2em;
}

.fullWidth {
    display: block;
    width: 100%;
}

.btn {
    background: lighten($primary_colour, 5%);
    color: #fff;
    border: none;
    padding: 0.75em 1em;
    cursor: pointer;
    font-size: 1em;
}

.btn:hover {
    background: lighten($primary_colour, 10%);
}

a.btn {
    text-decoration: none;
}

.btn-secondary {
    background: $secondary_color;
}

.btn-secondary:hover {
    background: lighten($secondary_color, 5%);
}

.itemList-single {
    border: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
  
  .itemList-single:hover {
    background: rgba(255,255,255,0.05);
  }

  .pagination {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
  }